<div class="card">
    <div class="image">
        <img src="./assets/images/image-header-mobile.jpg" alt="header-image" />
        <div class="after"></div>
    </div>

    <div class="heading">
        <h1>Get <span class="insight">insights</span> that help your business grow.</h1>
    </div>

    <div class="content">
        Discover the benefits of data analytics and make better decisions regarding revenue, customer
        experience, and overall efficiency.
        <div class="blocks">
            <h1>
                10k+ companies
            </h1>
        </div>
        <div class="blocks">
            <h1> 314 templates </h1>
            <div class="blocks">
                <h1> 12m+ queries</h1>
            </div>
        </div>
    </div>