<div class="card">
  <div class="first-half">
    <div class="image">
      <img src="./assets/images/image-header-mobile.jpg" alt="header-image" />
    </div>
  </div>

  <div class="second-half">
    <div class="heading">
      <h1>
        Get <span class="insight">insights</span> that help your business grow.
      </h1>
    </div>

    <div class="content">
      <div class="description">
        Discover the benefits of data analytics and make better decisions
        regarding revenue, customer experience, and overall efficiency.
      </div>
      <div class="block-group">
        <div class="blocks">
          <div class="block-heading">10k+</div>
          <div class="text">COMPANIES</div>
        </div>
        <div class="blocks">
          <div class="block-heading">314</div>
          <div class="text">TEMPLATES</div>
        </div>
        <div class="blocks">
          <div class="block-heading">12M+</div>
          <div class="text">QUERIES</div>
        </div></div>
    </div>
  </div>
</div>
