@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

//Primary
$main-background: hsl(233, 47%, 7%);
$card-background: hsl(244, 38%, 16%);
$accent: hsl(277, 64%, 61%);

// Neutral
$main-heading: hsl(0, 0%, 100%);
$main-paragraph: hsla(0, 0%, 100%, 0.75);
$stat-headings: hsla(0, 0%, 100%, 0.6);

//Font
$font-size: 15px;
$default-font-family: 'Inter', sans-serif;
$secondary-font-family: 'Lexend Deca', sans-serif;

//Font weight
$sm-font-weight:400;
$lg-font-weight:700;